body {

   background-color: #8d0101 ;
   color: #fff200;
   margin : 100;
   padding: auto;
   text-align: center;
   font-size: medium;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
